<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit room data</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <label>
            Nazwa:
            <input type="text", name="edited_name" value="{{ room.name }}">
        </label>
        <br>
        <label>
            Liczba miejsc:
            <input type="number", name="edited_seat_nums" value="{{ room.num_of_seats }}">
        </label>
        <br>
        <label>
            Czy jest rzutnik:
            <select name="beamer">
                <option value="yes">Tak</option>
                <option value="no">Nie</option>
            </select>
        </label>
        <br>
        <input type="submit" value="Zapisz">
    </form>
</body>
</html>